.bdt-input,
.bdt-select,
.bdt-textarea,
.bdt-radio,
.bdt-checkbox {
    /* 1 */
    box-sizing: border-box;
    /* 2 */
    margin: 0;
    /* 3 */
    border-radius: 0;
    /* 4 */
    font: inherit;
}

.bdt-input {
  overflow: visible;
}

.bdt-input,
.bdt-textarea {
  -webkit-appearance: none;
}

.bdt-input,
.bdt-select,
.bdt-textarea {
  /* 1 */
  max-width: 100%;
  /* 2 */
  width: 100%;
  /* 3 */
  border: 0 none;
  /* 4 */
  padding: 0 10px;
  background: #f8f8f8;
  color: #666;
}
.bdt-input,
.bdt-select:not([multiple]):not([size]) {
  height: 40px;
  vertical-align: middle;
  /* 1 */
  display: inline-block;
}

.bdt-input::placeholder {
  color: #999;
}

.bdt-button {
  /* 1 */
  margin: 0;
  /* 2 */
  border: none;
  /* 3 */
  overflow: visible;
  /* 4 */
  font: inherit;
  color: inherit;
  /* 5 */
  text-transform: none;
  /* 6 */
  -webkit-appearance: none;
  border-radius: 0;
  /* 7 */
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 16px;
  /* 8 */
  line-height: 40px;
  /* 9 */
  text-align: center;
  /* 10 */
  text-decoration: none;
}
.bdt-button:not(:disabled) {
  cursor: pointer;
}

.bdt-button-primary {
  background-color: #1e87f0;
  color: #fff;
}
.bdt-button-small {
  padding: 0 15px;
  line-height: 30px;
  font-size: 0.875rem;
}
:root {
  --bdt-leader-fill-content: .;
}
.bdt-grid {
  display: flex;
  /* 1 */
  flex-wrap: wrap;
  /* 2 */
  margin: 0;
  padding: 0;
  list-style: none;
}
.bdt-grid > * {
  margin: 0;
}
.bdt-grid > * > :last-child {
  margin-bottom: 0;
}
.bdt-grid {
  margin-left: -30px;
}
.bdt-grid > * {
  padding-left: 30px;
}
.bdt-grid + .bdt-grid,
.bdt-grid > .bdt-grid-margin,
* + .bdt-grid-margin {
  margin-top: 30px;
}
@media (min-width: 1200px) {
  /* Horizontal */
  .bdt-grid {
    margin-left: -40px;
  }
  .bdt-grid > * {
    padding-left: 40px;
  }
  /* Vertical */
  .bdt-grid + .bdt-grid,
  .bdt-grid > .bdt-grid-margin,
  * + .bdt-grid-margin {
    margin-top: 40px;
  }
}
.bdt-grid-small,
.bdt-grid-column-small {
  margin-left: -15px;
}
.bdt-grid-small > *,
.bdt-grid-column-small > * {
  padding-left: 15px;
}
.bdt-grid + .bdt-grid-small,
.bdt-grid + .bdt-grid-row-small,
.bdt-grid-small > .bdt-grid-margin,
.bdt-grid-row-small > .bdt-grid-margin,
* + .bdt-grid-margin-small {
  margin-top: 15px;
}
.bdt-grid-collapse,
.bdt-grid-column-collapse {
  margin-left: 0;
}
.bdt-grid-collapse > *,
.bdt-grid-column-collapse > * {
  padding-left: 0;
}
[class*="bdt-width"] {
  box-sizing: border-box;
  width: 100%;
  /* 1 */
  max-width: 100%;
}

@media (min-width: 640px) {
  .bdt-width-1-2\@s {
    width: 50%;
  }
  .bdt-width-1-1\@s,
  .bdt-width-1-2\@s,
  .bdt-width-1-3\@s,
  .bdt-width-2-3\@s,
  .bdt-width-1-4\@s,
  .bdt-width-3-4\@s,
  .bdt-width-1-5\@s,
  .bdt-width-2-5\@s,
  .bdt-width-3-5\@s,
  .bdt-width-4-5\@s,
  .bdt-width-1-6\@s,
  .bdt-width-5-6\@s,
  .bdt-width-small\@s,
  .bdt-width-medium\@s,
  .bdt-width-large\@s,
  .bdt-width-xlarge\@s,
  .bdt-width-2xlarge\@s,
  .bdt-width-auto\@s {
    flex: initial;
  }
}

@media (min-width: 960px) {
  .bdt-width-1-4\@m {
    width: 25%;
  }
  .bdt-width-1-1\@m,
  .bdt-width-1-2\@m,
  .bdt-width-1-3\@m,
  .bdt-width-2-3\@m,
  .bdt-width-1-4\@m,
  .bdt-width-3-4\@m,
  .bdt-width-1-5\@m,
  .bdt-width-2-5\@m,
  .bdt-width-3-5\@m,
  .bdt-width-4-5\@m,
  .bdt-width-1-6\@m,
  .bdt-width-5-6\@m,
  .bdt-width-small\@m,
  .bdt-width-medium\@m,
  .bdt-width-large\@m,
  .bdt-width-xlarge\@m,
  .bdt-width-2xlarge\@m,
  .bdt-width-auto\@m {
    flex: initial;
  }
}

.bdt-background-cover,
.bdt-background-contain,
.bdt-background-width-1-1,
.bdt-background-height-1-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.bdt-background-cover {
  background-size: cover;
}
.bdt-overflow-hidden {
  overflow: hidden;
}
.bdt-flex {
  display: flex;
}
.bdt-flex-top {
  align-items: flex-start;
}
.bdt-flex-middle {
  align-items: center;
}
.bdt-flex-wrap {
  flex-wrap: wrap;
}
.bdt-flex-wrap-top {
  align-content: flex-start;
}
.bdt-margin-top {
  margin-top: 20px !important;
}
.bdt-margin-small-top {
  margin-top: 10px !important;
}
.bdt-margin-remove-top {
  margin-top: 0 !important;
}
.bdt-margin-remove-bottom {
  margin-bottom: 0 !important;
}
.bdt-position-relative {
  position: relative  !important;
}
[hidden],
.bdt-hidden {
  display: none !important;
}
* {
  --bdt-inverse: initial;
}