html {
    /* 1 */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
    background: #fff;
    color: #798184;
}

body {
    margin: 0;
}

a:active,
a:hover {
    outline: none;
}

a,
.bdt-link {
    color: #1e87f0;
    text-decoration: none;
    cursor: pointer;
}

a:hover,
.bdt-link:hover,
.bdt-link-toggle:hover .bdt-link,
.bdt-link-toggle:focus .bdt-link {
    color: #0f6ecd;
    text-decoration: underline;
}

b,
strong {
    font-weight: bolder;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

canvas,
img,
video {
    /* 1 */
    max-width: 100%;
    /* 2 */
    height: auto;
    /* 3 */
    box-sizing: border-box;
}

@supports (display: block) {
    svg {
        max-width: 100%;
        height: auto;
        box-sizing: border-box;
    }
}

svg:not(:root) {
    overflow: hidden;
}

img:not([src]) {
    /* 1 */
    min-width: 1px;
    /* 2 */
    visibility: hidden;
}

p,
ul,
ol,
dl,
pre,
address,
fieldset,
figure {
    margin: 0 0 20px 0;
}

*+p,
*+ul,
*+ol,
*+dl,
*+pre,
*+address,
*+fieldset,
*+figure {
    margin-top: 20px;
}

h1,
.bdt-h1,
h2,
.bdt-h2,
h3,
.bdt-h3,
h4,
.bdt-h4,
h5,
.bdt-h5,
h6,
.bdt-h6,
.bdt-heading-small,
.bdt-heading-medium,
.bdt-heading-large,
.bdt-heading-xlarge,
.bdt-heading-2xlarge {
    margin: 0 0 20px 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: normal;
    color: #333;
    text-transform: none;
}

*+h1,
*+.bdt-h1,
*+h2,
*+.bdt-h2,
*+h3,
*+.bdt-h3,
*+h4,
*+.bdt-h4,
*+h5,
*+.bdt-h5,
*+h6,
*+.bdt-h6,
*+.bdt-heading-small,
*+.bdt-heading-medium,
*+.bdt-heading-large,
*+.bdt-heading-xlarge,
*+.bdt-heading-2xlarge {
    margin-top: 40px;
}

h1,
.bdt-h1 {
    font-size: 2.23125rem;
    line-height: 1.2;
}

h2,
.bdt-h2 {
    font-size: 1.7rem;
    line-height: 1.3;
}

h3,
.bdt-h3 {
    font-size: 1.5rem;
    line-height: 1.4;
}

h4,
.bdt-h4 {
    font-size: 1.25rem;
    line-height: 1.4;
}

@media (min-width: 960px) {

    h1,
    .bdt-h1 {
        font-size: 2.625rem;
    }

    h2,
    .bdt-h2 {
        font-size: 2rem;
    }
}

ul,
ol {
    padding-left: 30px;
}

::selection {
    background: #39f;
    color: #fff;
    text-shadow: none;
}

template {
    display: none;
}

:root {
    --bdt-breakpoint-s: 640px;
    --bdt-breakpoint-m: 960px;
    --bdt-breakpoint-l: 1200px;
    --bdt-breakpoint-xl: 1600px;
}

body {
    overflow-x: hidden;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}