.bdt-testimonial-grid-item-inner {
    position: relative;
    padding: 35px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08)
}

.bdt-testimonial-grid-img-wrapper {
    width: 64px;
    height: 64px
}

.bdt-testimonial-grid-img-wrapper img {
    width: 100%;
    height: 100%
}

.bdt-testimonial-grid-text {
    margin-top: 20px;
    margin-bottom: 20px
}

.bdt-testimonial-grid-text p {
    margin: 0px
}

.elementor-widget-bdt-testimonial-grid .bdt-rating .bdt-rating-item:nth-last-child(1) {
    margin-right: 0px !important
}